# Ignore certain directories
logs/
checkpoints/
env/
misc/
data/
wandb/
runs/
*data/

# Ignore Python cache and compiled files
.pytest_cache/
__pycache__/
*.pyc

# Ignore specific notebook files
/notebooks/data/
/notebooks/mnist_data/
notebooks/vae_mnist_classifier.ipynb
notebooks/vae_mnist_classifier_rain.ipynb